body {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

#root {
  max-width: 1280px;
  height: 75%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #000);
}

@keyframes pin {
  from {logo-s
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-landing {
  font-family: 'Days One', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #2a2a2a;
}

.p1 {
  font-size: 50px;
}

.p2 {
  font-size: 78px;
  position: relative;
  top: -65px;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
